.all-event-groups-body {
  position: sticky;
  z-index: 100;
  top: 77px;
  background-color: white;
  margin: 0 0 20px;
  padding: 20px 6px 60px;
}

.all-groups-events {
  display: flex;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.back-to-event-link,
.back-to-group-link {
  font-size: 22px;
  color: #474545;
  font-weight: 500;
  text-decoration: none;
  margin: 0 40px 0 0;
  cursor: pointer;
}

.back-to-event-link:hover,
.back-to-group-link:hover {
  color: #00a2c7;
  text-decoration: underline #00a2c7;
}

.group-details-body {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.group-detail-page {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-detail {
  display: flex;
}

.group-detail-image {
  display: flex;
  justify-content: start;
  margin-right: 15px;
  max-width: 600px;
  max-height: 333px;
}

.group-detail-img {
  width: 580px;
  height: 320px;
  border-radius: 10px;
}

.group-detail {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 24px;
}

.group-detial-name {
  margin: 0 0 10px;
  color: #212121;
  font-size: 32px;
}

.group-detail-location,
.group-detail-type,
.group-detail-host {
  font-size: 14px;
  padding: 8px 0 0;
  margin: 2.5px 0 0 5px;
}

.group-detail-firstname {
  font-weight: 550;
}

.middle-bar {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  white-space: nowrap;
}

.middle-bar li {
  margin-right: 40px;
}

.middle-bar-container {
  position: sticky;
  top: 70px;
  padding: 10px 0;
  background-color: white;
  box-shadow: 0 0 2px 0 rgb(46 62 72 / 12%), 0 2px 4px 0 rgb(46 62 72 / 12%);
}

.margin-auto {
  padding: 0px 20px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.group-detail-middle-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 67px;
  box-sizing: border-box;
}

.group-detail-middle-bar-left {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: auto;
}

.button-about,
.button-events,
.edit-group p,
.group-detail-delete-button {
  font-size: 18px;
  color: #2e3e48;
  border: none;
  background-color: white;
  padding: 10px 20px;
}

.request-to-join {
  color: white;
  background-color: #f65858;
  font-size: 16px;
  border: 1px solid #f65858;
  padding: 10px 20px;
  border-radius: 8px;
}

.request-to-join:hover {
  background-color: #f67070;
  border: 1px solid #f67070;
}

.button-details:hover,
.edit-group p:hover {
  color: #00a2c7;
  background-color: white;
}

.button-events-color,
.button-about-color {
  color: #00a2c7;
  background-color: white;
  border: none;
  background-color: white;
  padding: 10px 20px;
  font-size: 18px;
}

.group-detail-delete-button:hover,
.group-detail-delete-button:focus {
  color: white;
  background-color: #f65858;
  border-radius: 8px;
}

.edit-group {
  text-decoration: none;
  font-size: 16px;
  color: #2e3e48;
}

.group-detail-hidden-container {
  background-color: rgb(246 247 248);
  min-height: 50vh;
  padding-bottom: 120px;
}

.group-detail-hidden {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 100%;
  /* min-height: 50vh; */
}

.group-detail-hidden-about {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* height: 100%; */
  box-sizing: border-box;
  justify-content: flex-start;
  /* min-height: 50vh; */
}

.group-detail-left {
  max-width: 600px;
  margin: 0 20px;
  padding-top: 40px;
  /* min-height: 50vh; */
}

.group-detail-about h2 {
  padding-bottom: 20px;
  font-size: 20px;
}

.group-detail-about p {
  max-height: 400px;
  margin-bottom: 15px;
  line-height: 30px;
}

.group-about-overflow {
  overflow: scroll;
}

.group-detail-right {
  padding-left: 20px;
  display: flex;
  margin: 0 20px;
  padding-top: 40px;
  flex-direction: column;
}

.group-detail-organizer,
.organizer-first-name {
  flex-basis: auto;
  padding-left: 0;
  width: 100%;
  padding-bottom: 20px;
}

.group-detail-organizer {
  font-size: 20px;
}

.group-detail-hidden-events {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 20px;
  padding-top: 40px;
}

.hidden-events-top {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  justify-content: flex-start;
}

.group-detail-hidden-events h3 {
  font-size: 26px;
  max-width: 550px;
  width: 100%;
  padding-right: 15px;
}

.hidden-events-link {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding-left: 24px;
}

.hidden-events-link-text {
  font-size: 15px;
  text-decoration: none;
  font-weight: 500;
  color: black;
  border: 1px rgb(117, 114, 114) solid;
  padding: 6px;
  border-radius: 5px;
}

.hidden-events-link-text:hover {
  color: white;
  background-color: #f65858;
}

.events-show {
  display: flex;
  flex-direction: row;
}

.events-show-pics {
  display: flex;
  box-sizing: border-box;
  justify-content: end;
  margin-right: 80px;
  padding-right: 20px;
}

.events-show-pics img {
  width: 450px;
  height: 300px;
  border-radius: 10px;
}

.events-show-details {
  display: flex;
  padding: 0 24px;
  margin-top: 15px;
  flex-direction: column;
}

.event-city {
  font-size: 14px;
  margin-top: 5px;
}

.events-details-link {
  margin: 30px 0;
  font-size: 16px;
}

.events-details-link-text {
  text-decoration: none;
  color: #00a2c7;
  font-weight: 500;
}

.flex-grow-two {
  flex-grow: 2;
}

.flex-grow-one {
  flex-grow: 1;
}

.flex-grow-three {
  flex-grow: 3;
}

.all-events-group-detail {
  display: flex;
  flex-direction: column;
}

.event-detail-group-detail {
  margin: 20px 0;
}

.group-detail-members {
  padding: 20px;
  padding-top: 40px;
}

.flex {
  display: flex;
  justify-content: flex-start;
}

.flex-row {
  justify-content: flex-start;
}

.flex-column {
  flex-direction: column;
}

.member-right {
  padding-left: 20px;
}

.padding-left-top-bottom {
  padding: 20px 0 10px 20px;
}

.member-number {
  justify-content: space-between;
}

.sticky-member {
  position: sticky;
  top: 20%;
  width: 30%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
}

.padding-left-top-bottom li {
  border-right: 3px solid transparent;
  padding-right: 15px;
  margin-bottom: 16px;
}

.all-members,
.leadership {
  background-color: white;
  border: none;
  font-size: 18px;
  color: rgba(46, 62, 72, 0.35);
  cursor: pointer;
}

.all-members:hover,
.leadership:hover,
.all-members-color:hover,
.leadership-color:hover {
  background-color: #fff;
}

.all-members-color,
.leadership-color {
  color: #00a2c7;
  background-color: white;
  border: none;
  font-size: 18px;
}

li.all-members-color,
li.leadership-color {
  border-right: 3px solid #00a2c7;
}

.member-right {
  width: 65%;
  border-radius: 8px;
}

.member-right-detail {
  padding: 0 36px 36px 36px;
  border-radius: 8px;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.no-current-user {
  padding: 36px;
  /* background-color: rgba(46, 62, 72, 0.03); */
  border-radius: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.member-right-icon {
  margin-bottom: 8px;
}

.fa-user-lock {
  font-size: 20px;
}

.member-right-text h1 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 8px;
}

.member-name {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 30px 0;
  background-color: white;
  border-radius: 8px;
}

.member-name span {
  font-size: 22px;
  font-weight: 300;
}

.member-image span {
  font-size: 22px;
  font-weight: 400;
  color: white;
}

.member-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-left: 30px;
  border: 1px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
}

.member-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-right: 15px;
  padding-right: 15px;
  height: 60px;
}

.member-status p {
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  margin-bottom: 5px;
}

.status-change-button {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px;
}

.status-change-button:hover {
  background-color: white;
}
